body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2e29379c;
  margin: 0;
}

.headerDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#2f485d;
  margin-bottom: 20px;
}


.headerIcons {
  display: flex;
  gap: 14px;
}

.mic {
  width: 30px;
  height: 35px;
}

.setting {
  width: 30px;
  height: 35px;
}

.backIcon{
  display: none;
}

.inputField{
  outline: none;
  border: none;
  padding: 0.5rem;
  background-color: #277bc0;
  color: azure;
  border-radius: 2px;
  width: 40%;
  margin-bottom:20px;
}

::placeholder {
  color: azure;
  text-align: center;

}

li {
  list-style-type: none;
  color: azure;
  font-size: 1.5rem;
  margin: 1rem;
  display: flex;
}

.headerText {
  color: #dce3e9;
  
}

.characterMainContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.layoutCharInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 35%;
}

.theCardHolders{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardMaincontainer {
  border-radius: 2%;
  border: 2px solid #277bc0;
  margin: 0.2rem;
  background-color: #277bc0;
}

.cardFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #277bc0;
}

.nameCharacter {
  font-size: medium;
  color: azure;
  font-style: oblique;
}

.clickBtnCard {
  border: none;
  width: 7rem;
  height: 1rem;
  background-color: #277bc0;;
  }

.clickBtnCard a {
  color: azure;
  text-decoration: none;
  font-size: larger;
  font-style: oblique;
}

.containerDetail {
  display: flex;
  justify-content: space-between;
  margin: 10rem auto;
  background-color: #277bc0;
  width: 60%;
}

.backBtn {
  border: none;
  background-color: azure;
  width: 7rem;
  color: #277bc0;
  padding: 0.3rem;
  border-radius: 2px;
  right: 18rem;
  bottom: 15rem;
  cursor: pointer;
  text-decoration: none;
}

.imageCharacter {
  width: 50.99%;
}

.mainImage {
  width: 100%;
}


@media only screen and (max-width: 768px) {
  .headerDiv{
    display: flex;
    align-items: center;
    background-color:#2f485d;
    margin-bottom: 20px;
  }

  .theCardHolders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 48px;
}

 .cardMaincontainer {
    border: 2px solid #277bc0;
    margin: 0.1rem;    /* background-color: #277bc0; */
    padding: 20px;
  }

  .theCardHolders > .cardMaincontainer:nth-child(4n-1),
.theCardHolders > .cardMaincontainer:nth-child(4n-2) {
  background: #2e29379c;
}

  .imageContainer {
    width: 100%;
  }

  .imageCharacterCard{
    width: 100%;
  }

  .cardFooter {
    display: inline;
    text-align: center;
    width: 100%;
  }

  .backBtn {
    border: none;
    background-color: azure;
    width: 7rem;
    color: #277bc0;
    padding: 0.3rem;
    border-radius: 2px;
    right: 18rem;
    bottom: 15rem;
    cursor: pointer;
    text-decoration: none;
  }

  .clickBtnCard {
    border: none;
    width: 100%;
    height: 1rem;
    background-color: #277bc0;
  }

  .containerDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10rem auto;
    background-color: #277bc0;
    width: 60%;
  }

  .imageCharacter {
    width: 99.99%;
  }

  .mainImage {
    width: 100%;
  }

  .cardCharacters1{
    width: 100%;
  }
}
